{{#if resume.specific.profileLink}}
  <section class="credits">
    <div id="credits">
      <a target="_blank" href="{{resume.specific.profileLink}}">Voir ce profil sur WeLoveDevs.com</a>
    </div>
  </section>
{{/if}}
