{{#resume.specific.dreamJob}}
  <section class="section">
    <header>
      <h2 class='section-title'>JOB DE RÊVE</h2>
    </header>
    <section id="dreamjob">
      <div class="informations">
        {{#if salary}}
          <div id="salary">
            <h6 class="label">Salaire idéal annuel</h6>
            <span>{{salary}} k</span>
          </div>
        {{/if}}
        {{#if locations.length}}
          <div id="location">
            <h6 class="label">Localisations</h6>
            {{#each locations}}
              {{#if name}}
                <div class="item">
                  - {{name}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}

        {{#if perks}}
          <div id="perks">
            <h6 class="label">Ce que j'aimerais</h6>
            {{#each perks}}
                <div class="item">
                  - {{getW3DWord @key}}
                </div>
            {{/each}}
          </div>
        {{/if}}

        {{#if remoteFrequency}}
          <div id="remote">
            <h6 class="label">Fréquence travail à distance</h6>
            <span>{{getW3DWord remoteFrequency}}</span>
          </div>
        {{/if}}
      </div>
    </section>
  </section>
{{/resume.specific.dreamJob}}
