{{#if resume.skills.length}}
<section class="section">
	<header>
		<h2 class='section-title'>Skills</h2>
	</header>
	<section id="skills">
		{{#each resume.skills}}
		<div class="item">
			{{#if name}}
			<h3 class="name">
				{{name}}
			</h3>
			{{/if}} {{#if value}}
			<div class="level {{getLevel value}}">
				<em>{{value}} %</em>
				<div class="bar"></div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
</section>
{{/if}}
